## Apache Velocity template
## 
## Important : Zabbix accepts only data lines. Therefore do not keep empty lines in this template.
## 
## Zabbix fields :
##   $application_id is the Zabbix host, mapped here to the monitoring instance
##   user.action is the Zabbix key
##   3rd field is Zabbix value. It contains the event details. $event.NameExtraInfo is the user action
## Zabbix format : see https://www.zabbix.com/documentation/current/en/manpages/zabbix_sender
## 
#foreach( $event in $events_list )
"$application_id" "user.action" "$host_name $application_id/#nameExtInfo( $event )-$event.ExtId #name( $event )#operation( $event )#contention_type( $event )- $event.StartDate - $event.EndDate - $event.Duration"
#end
#macro( name $event )
#if( $event.NameExtraInfo ) $event.Name : $event.NameExtraInfo #else $event.Name #end
#end
#macro( nameExtInfo $event )
$event.NameExtraInfo#end
#macro( operation $event )
#if( $event.Operation )- $event.Operation #end
#end
#macro( contention_type $event )
#if( $event.ContentionType )- $event.ContentionType #end
#end